<main
  style="
    background-color: var(--blood-red);
    width: 100vw;
    height: 20vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
  "
>
  <p style="font-size: 30px">Caldos e Sopas CG</p>
  <p style="font-size: 18px">
    Cynthia Gonçalves &copy; Todos os direitos reservados 2025
  </p>
  <h5>
    <a
      href="https://api.whatsapp.com/send?phone=558293127500&text=Ol%C3%A1%2C%20quero%20fazer%20um%20pedido%21"
      target="_blank"
    >
      <button mat-flat-button style="background-color: var(--forest-green)">
        <i class="pi pi-whatsapp"></i>
        Entre em contato para mais informações!
      </button>
    </a>
  </h5>
</main>
