.example-card {
  max-width: 400px;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.images-mat {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


@media (max-width: 320px) {
  .example-card {
    max-width: 250px;
    gap: 20px;
    font-size: 12px;
    margin-top: 500px;
    margin-bottom: 250px;
  }

  .images-mat {
    height: 200px;
  }

  #text-zap {
    display: none;
  }

}
