<mat-card class="example-card" appearance="outlined">
  <mat-card-header
    style="display: flex; align-items: center; justify-content: center"
  >
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle style="text-align: center">Apimentada</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.image" [alt]="item.name" class="images-mat"/>
  <mat-card-content>
    <p style="text-align: center">
      {{ item.description }}
    </p>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button
      mat-stroked-button
      disabled
      style="color: var(--forest-green); font-size: 20px"
    >
      <i class="pi pi-money-bill"></i> R${{ item.price.toFixed(2) }}
    </button>
    <span>
      <a [href]="item.whatsappLink" target="_blank">
        <button
          mat-flat-button
          style="background-color: var(--blood-red); font-weight: 900"
        >
          QUERO! <i class="pi pi-whatsapp"></i>
        </button>
      </a>
    </span>
  </mat-card-actions>
</mat-card>
