<mat-toolbar class="main" style="background-color: var(--blood-red); color: white;">
  <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      style="color: white;"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Caldos e Sopas CG</span>
  </div>
  <span class="example-spacer"></span>
  <div style="display: flex; align-items: center; justify-content: center;">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      style="color: white;"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      style="color: white;"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
