<mat-toolbar
  class="main"
  style="background-color: var(--blood-red); color: white"
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    "
  >
    <span>Caldos e Sopas CG</span>
    <a
      href="https://api.whatsapp.com/send?phone=558293127500&text=Ol%C3%A1%2C%20quero%20fazer%20um%20pedido%21"
      target="_blank"
    >
      <button mat-flat-button style="background-color: var(--forest-green)">
        Peça já seu caldo!
        <i class="pi pi-whatsapp"></i>
      </button>
    </a>
  </div>
  <span class="example-spacer"></span>
  <div style="display: flex; align-items: center; justify-content: center">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      style="color: white"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      style="color: white"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
