<mat-toolbar
  class="main"
  style="background-color: var(--blood-red); color: white"
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    "
    id="nav-container"
  >
    <span id="title">Caldos e Sopas CG</span>
    <a
      href="https://api.whatsapp.com/send?phone=558293127500&text=Ol%C3%A1%2C%20quero%20fazer%20um%20pedido%21"
      target="_blank"
    >
      <button id="button-zap" mat-flat-button style="background-color: var(--forest-green)">
        <span id="title-button-zap">Peça já seu caldo!</span>
        <i id="zap-icon" class="pi pi-whatsapp"></i>
      </button>
    </a>
  </div>
  <span class="example-spacer"></span>
  <div style="display: flex; align-items: center; justify-content: center">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      style="color: white"
      (click)="copyLink()"
      #tooltip="matTooltip"
      matTooltip="Copiar link do site"
      matTooltipHideDelay="100000"
      (click)="openSnackBar(message, action)"
      id="share-icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
