<main style="margin: 200px 50px 50px 50px; height: 80vh">
  <div id="container-text">
    <h1 style="color: var(--blood-red)">
      Caldos e Sopas <br />da Cynthia Gonçalves
    </h1>
    <p style="color: var(--blood-red)">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />Nobis quo
      tenetur, dolorum voluptas ducimus maiores aspernatur adipisci itaque,
      <br />aperiam temporibus animi? Rem impedit sapiente asperiores quia quod
      libero rerum. <br />Cum id, debitis delectus repellendus porro aliquam
      dolore est earum nesciunt atque <br />fugiat ducimus cumque nobis quod
      exercitationem unde harum reiciendis quidem sed modi, <br />ad tempora
      nisi eligendi ipsum? Enim ratione sunt et, <br />fuga quas nostrum ut
      accusamus unde itaque odit!
    </p>
    <a
      href="#cardapio"
    >
      <button><i class="pi pi-list"></i> Quero ver o cardápio!</button>
    </a>
  </div>
  <div id="container-image">
    <img id="photo" src="assets/images/logotipo.png" alt="logotipo" />
    <img id="elipse" src="assets/images/elipse.png" alt="elipse" />
  </div>
</main>
