<main style="margin: 120px 50px 50px 50px; height: 80vh">
  <div id="container-text">
    <h1 style="color: var(--blood-red)">
      Caldos e Sopas <br />da Cynthia Gonçalves
    </h1>
    <p id="text-principal" style="color: var(--blood-red); font-weight: 500">
      Em São Miguel dos Campos, nossos caldos e sopas são preparados com
      ingredientes frescos e de alta qualidade, trazendo o sabor da tradição
      nordestina para sua mesa. São opções perfeitas para quem busca uma
      refeição reconfortante e saborosa. Oferecemos desde o famoso caldo de
      frango até as versões com bacon e calabresa, sem esquecer das sopas ricas
      em temperos que aquecem o coração e agradam a todos os paladares.
      <br />Aqui, cada prato é feito com carinho e atenção aos detalhes,
      utilizando produtos locais para garantir o frescor e o melhor sabor
      possível. <br />Nossa cozinha se dedica a oferecer pratos que transmitem o
      sabor único de São Miguel dos Campos, trazendo o melhor da culinária local
      para o seu paladar. <br />Venha nos visitar e experimente nossas delícias!
      Estamos abertos nas noites de terça, quinta e sexta-feira, esperando por
      você para uma refeição cheia de sabor e aconchego.
    </p>
    <p id="text-principal-2" style="color: var(--blood-red); font-weight: 500">
      <h3>Caldo & Sopa<br>Tradição Nordestina<br> 🌿🍲</h3> Sabores autênticos com
      ingredientes frescos! Experimente nossos caldos e sopas quentinhos, feitos
      com carinho. <br>  ✨ 📍 São Miguel dos Campos 🕒 Ter, Qui e Sex à noite
    
    <a href="#cardapio" routerLink="" id="anchor-cardapio">
      <button id="button-cardapio"><i class="pi pi-list"></i> Quero ver o cardápio!</button>
    </a>
  </div>
  <div id="container-image">
    <img id="photo" src="assets/images/logotipo.png" alt="logotipo" />
    <img id="elipse" src="assets/images/elipse.png" alt="elipse" />
  </div>
</main>
