@import "primeicons/primeicons.css";

* {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --blood-red: #630304ff;
  --blood-red-light: #8f0c0e;
  --engineering-orange: #af2916ff;
  --pumpkin: #f4781eff;
  --jonquil: #fdcb11ff;
  --yellow: #fffe3aff;
  --office-green: #03750dff;
  --forest-green: #0c9b18ff;
  --sgbus-green: #6acc1aff;
}

html {
  scroll-behavior: smooth;
}